/* PC */
@media (min-width: 64em) {

}

/* MOBILE & TABLET */
@media (max-width: 63.94em) {
    .btn {
        padding: 15px 16px;
    }

    .contact-form .form-control {
        padding: 15px;
    }

    .socials-list a {
        font-size: 48px;
        margin: 0 8px;
    }

    #footer .copy-right a {
        padding: 12px 0;
        display: inline-block;
    }
}

/* TABLET */
@media (min-width: 46.25em) and (max-width: 63.94em) {

}

/* MOBILE */
@media (max-width: 46.19em) {
    .s-col-full,
    .s-full-width {
        width: 100%;
    }
    #header {
        overflow: hidden;    
    }
    
    #header .search-btn {
        display: none;
    }

    #header .mobi-menu-btn {
        display: block;
    }

    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    
    }

    #nav .subnav {
        position: initial;
        background-color: #999;
    }
    
    #nav .subnav a {
        color: #fff;
        padding: 5px 41px;
    }

    #content .member-img {
        width: 60%;
    }

    .contact-form {
        margin-top: 16px;
    }

}